name: ReleaseGoMd
on: [push]
jobs:
  construct:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: greeting
        run: |
          go version

      - name: Build
        run: |
          go build -o jsgomg .
          ./jsgomg help
